.App, .leaderCard, .btn-Poll {
     text-align: center;
     background-color: #74d1b5!important;
}
 .link-error {
     color: #226853!important;
}
 .border-top-body {
     border-top: 30px solid #103127;
     border-bottom: 30px solid #103127;
}
 .login {
     padding:20px;
}
 .login-text {
     padding-bottom:20px;
}
 .signIn {
     margin-top: 20px;
     color: #103127;
     padding-bottom:20px;
}
 .nav {
     border: 10px solid #74d1b5;
}
 .align-items {
     align-items: center;
}
 .div-spacing {
     margin:10px;
}
 .app-container {
     margin : 10px 0.2px 
}
 .app-body {
     margin:20px ;
}
 .nav-side-color, .leaderCardHeader {
     background-color: #103127!important 
}
 .react-tabs__tab--selected {
     background-color: #ddf3ed!important;
}
 .app_side, #root , body{
     background-color: #226853!important;
}
 .card_color {
     background-color: #ddf3ed 
}
 .App-logo {
     height: 40vmin;
     pointer-events: none;
}
 @media (prefers-reduced-motion: no-preference) {
     .App-logo {
         animation: App-logo-spin infinite 20s linear;
    }
}
 .App-header {
     background-color: #282c34;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: calc(10px + 2vmin);
     color: white;
}
 .App-link {
     color: #61dafb;
}
 @keyframes App-logo-spin {
     from {
         transform: rotate(0deg);
    }
     to {
         transform: rotate(360deg);
    }
}
 .navbar-nav-wrapper {
     display: flex;
     flex: 1 0 100%;
     align-items: center;
}
 .nav-color {
     color: #74d1b5!important;
     font-weight: bold;
}
 .nav ul {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     text-decoration: none;
}
 .nav li {
     margin: 10px;
}
 .avatar {
     height: 50px;
     border-radius: 25px;
     margin: 10px;
}
 .avatar_card {
     height: 100px;
     border-radius: 25px;
     margin: 10px;
}
 .vote_card {
     height: 50px;
     border-radius: 25px;
     margin: 10px;
}
 nav a , .leaderCardHeader{
     text-decoration: none;
     color: #74d1b5!important;
     font-weight: bold;
}
 .App a {
     text-decoration: none;
     color: black!important;
}
 .question {
     color:inherit !important;
}
 .rdbOption{
     margin-left : 10px;
}
 .pollResults {
     margin : 20px;
}
 